.benefit_description{
	min-height: 70px;
}
.imgCenter{
	margin: 0 auto;
}
.circleImg img{
    border-radius: 150px !important;
    border: 5px solid #1fcdff;
}
.forma {
	
	margin-right: 20px;
}
.benefits{
    height: 515px !important;
}
.albums{
    width: 33%;
    float: left;
}
.white{
    color: #fff !important;
}
.center{
    text-align: center !important;
}
.oneLetter{
    font-size: 1.875em;
    text-transform: capitalize;
    font-weight: 300;
}
.marTop10{
    margin-top: 10px;
}
.padd{
    padding: 85px 0px 0px 0px;
}

/*animation*/
.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}