.benefit_description{
	min-height: 70px;
}
.imgCenter{
	margin: 0 auto;
}
.circleImg img{
    border-radius: 150px !important;
    border: 5px solid #1fcdff;
}
.forma {
	
	margin-right: 20px;
}
.benefits{
    height: 515px !important;
}
.albums{
    width: 33%;
    float: left;
}
.white{
    color: #fff !important;
}
.center{
    text-align: center !important;
}
.oneLetter{
    font-size: 1.875em;
    text-transform: capitalize;
    font-weight: 300;
}
.marTop10{
    margin-top: 10px;
}
.padd{
    padding: 85px 0px 0px 0px;
}
.padds{
    padding: 40px 10px !important;
}
.bold{
    font-weight: bold !important;
}
.gallery{
    background-color: #ccc;
    padding: 20px;
}
.career_desc{
    font-size: 1.875em;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}
.gray{
    color: #8B4513 !important;
}

.navbar{
    min-height: 80px !important;
}
.navbar-brand img{
    height: 66px !important;
}
#main-menu{
    padding: 15px 0px !important;
}
.font14{
    font-size: 14px;
}
.padd35{
    padding: 0 0 35px 0;
}
.navbar-brand{
    height: 80px !important;
}


.polaroid {
    /* ... */
   -webkit-transform: rotate(10deg);
   -webkit-transition: -webkit-transform 0.5s ease-in;
}
.polaroid:hover,
.polaroid:focus,
.polaroid:active {
    /* ... */
    -webkit-transform: rotate(0deg);
}


.multiple-borders {
  -webkit-box-shadow:
     0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
  
     -moz-box-shadow:
     0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
  
          box-shadow:
     0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
}